table,
td,
th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 50%;
}

td {
    height: 20px;
    /* vertical-align: bottom; */
    text-align: center;
}

@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
    box-sizing: border-box;
}

td {
    width: 150px; /* set the width of the cell */
    height: 50px; /* set the height of the cell */
    white-space: nowrap; /* prevent the text from wrapping */
    overflow: hidden; /* hide any overflow content */
  }
  
  tr {
    overflow-y: auto; /* add a scrollbar if content exceeds cell height */
  }

body {
    background-color: rgb(30 41 59);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Lato", sans-serif;
    margin: 0;
}

.movie-container {
    margin: 20px 0;
}

.movie-container select {
    background-color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.movie-container input, .name-input{
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
}

.container {
    perspective: 1000px;
    margin-bottom: 30px;
}

.seat {
    background-color: #444451;
    height: 26px;
    width: 32px;
    margin: 3px;
    font-size: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.seat.selected,.selecteds {
    background-color: green;
}

.seat:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.row {
    display: flex;
}

.showcase {
    background: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.showcase li small {
    margin-left: 2px;
}

.screen {
    background-color: #fff;
    height: 120px;
    width: 100%;
    margin: 15px 0;
    transform: rotateX(-48deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

.confirm{
    color: white;
}

.confirm:hover{
    cursor: pointer;
}

.itsBook {
    size: 5px;
    background-color: transparent;
    border: none;
    color: white;
    padding: 8px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px #888888;
    transition: opacity 0.5s;
    margin-top: 20px;
}

.itsBook:hover {
    background-color: transparent;
    box-shadow: 2px 2px 2px 2px green;
    opacity: 0.8;
}

.movie-contain{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-input{
    margin-bottom: 10px;
}
  